@model ClubViewModel

<div class="club" title="@Model.Name">
    <div class="container club-title-bar">
        <span class="container club-name">
            @Html.DisplayFor(model => model.Name)
        </span>
        <ul>
            <li>Details</li>
            <li>
                @{
                    if (Model.IsMember)
                    {
                        @Html.Raw("Joined");
                    }
                    else
                    {
                        @Html.ActionLink("Join", "Join", new { name = Model.Name });
                    }
                }
            </li>
        </ul>
    </div>
    <article class="club-description">
        @Html.DisplayFor(model => model.Description)
    </article>
</div>
